# Copy this file to .env and fill in your values.
# When adding new variables, update src/env.js as well.

# Database  
DATABASE_URL="postgresql://postgres.lpcpjlrawzsqoysfmaen:[ASK JASON FOR THE PASSWORD]@aws-1-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.lpcpjlrawzsqoysfmaen:[ASK JASON FOR THE PASSWORD]@aws-1-us-east-2.pooler.supabase.com:5432/postgres"
# Supabase 
SUPABASE_URL="https://lpcpjlrawzsqoysfmaen.supabase.co"
SUPABASE_ANON_KEY="..."
SUPABASE_SERVICE_ROLE_KEY="..."
NEXT_PUBLIC_SUPABASE_URL="https://lpcpjlrawzsqoysfmaen.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="..."
# AI
ANTHROPIC_API_KEY="..."                                                                                                                                                             
FAL_API_KEY="..."   
