public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
enable-pre-post-scripts=true
trusted-packages[]=@prisma/client
trusted-packages[]=@prisma/engines
trusted-packages[]=prisma
trusted-packages[]=sharp
trusted-packages[]=unrs-resolver